In [23]:
from pyspark.sql import SparkSession
import pandas as pd
import numpy as np

my_list = [['a', 1, 2], ['b', 2, 3],['c', 3, 4]]
col_name = ['A', 'B', 'C']

In [24]:
# caution for the columns=
pd.DataFrame(my_list,columns= col_name)
#
spark.createDataFrame(my_list, col_name).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+

In [25]:
d = {'A': [0, 1, 0],
     'B': [1, 0, 1],
     'C': [1, 0, 0]}

In [26]:
pd.DataFrame(d)
# Tedious for PySpark
spark.createDataFrame(np.array(list(d.values())).T.tolist(),list(d.keys())).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  0|  1|  1|
|  1|  0|  0|
|  0|  1|  0|
+---+---+---+

In [38]:
#User Information
try:
    login = pd.read_csv(r'login.txt', header=None)
    user = login[0][0]
    pw = login[0][1]
    print('User information is ready!')
except:
    print('Login information is not available!!!')

#Database information
host = 'localhost'
db_name = 'db_name'
table_name = 'table_name'

User information is ready!

In [39]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in ./opt/anaconda3/lib/python3.9/site-packages (2.9.5)

In [78]:
 
dp = pd.read_json("/Users/yangsejin/Downloads/data.json")
ds = spark.read.json('/Users/yangsejin/Downloads/data.json')

In [79]:
dp[['id','timestamp']].head(4)
#
ds[['id','timestamp']].show(4)

+-----------+-------------------+
|         id|          timestamp|
+-----------+-------------------+
|14785418146|2023-04-02 10:39:01|
|14785418136|2023-04-02 10:39:01|
|14785418135|2023-04-02 10:39:01|
|14785418133|2023-04-02 10:39:01|
+-----------+-------------------+
only showing top 4 rows

In [80]:
dp.head(4)
#
ds.show(4)

+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
|         id|            location|sampling_rate|              sensor|    sensordatavalues|          timestamp|
+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
|14785418146|{18.4, NL, 1, 413...|         null|{55464, 7, {9, va...|[{33201110167, 8....|2023-04-02 10:39:01|
|14785418136|{116.0, PL, 0, 66...|         null|{77152, 1, {14, N...|[{33201110139, 3....|2023-04-02 10:39:01|
|14785418135|{444.5, DE, 0, 29...|         null|{40502, 11, {17, ...|[{33201110132, 15...|2023-04-02 10:39:01|
|14785418133|{227.4, PL, 0, 10...|         null|{20966, 1, {14, N...|[{33201110136, 9....|2023-04-02 10:39:01|
+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
only showing top 4 rows

In [81]:
dp.columns
#
ds.columns

['id', 'location', 'sampling_rate', 'sensor', 'sensordatavalues', 'timestamp']

In [82]:
dp.dtypes
#
ds.dtypes

[('id', 'bigint'),
 ('location',
  'struct<altitude:string,country:string,exact_location:bigint,id:bigint,indoor:bigint,latitude:string,longitude:string>'),
 ('sampling_rate', 'bigint'),
 ('sensor',
  'struct<id:bigint,pin:string,sensor_type:struct<id:bigint,manufacturer:string,name:string>>'),
 ('sensordatavalues',
  'array<struct<id:bigint,value:string,value_type:string>>'),
 ('timestamp', 'string')]

In [83]:
my_list = [['male', 1, None], ['female', 2, 3],['male', 3, 4]]
dp = pd.DataFrame(my_list,columns=['A', 'B', 'C'])
ds = spark.createDataFrame(my_list, ['A', 'B', 'C'])
#
dp.head()
ds.show()

+------+---+----+
|     A|  B|   C|
+------+---+----+
|  male|  1|null|
|female|  2|   3|
|  male|  3|   4|
+------+---+----+

In [84]:
dp.fillna(-99)
#
ds.fillna(-99).show()

+------+---+---+
|     A|  B|  C|
+------+---+---+
|  male|  1|-99|
|female|  2|  3|
|  male|  3|  4|
+------+---+---+

In [85]:
# caution: you need to chose specific col
dp.A.replace(['male', 'female'],[1, 0], inplace=True)
dp
#caution: Mixed type replacements are not supported
ds.na.replace(['male','female'],['1','0']).show()

+---+---+----+
|  A|  B|   C|
+---+---+----+
|  1|  1|null|
|  0|  2|   3|
|  1|  3|   4|
+---+---+----+

In [87]:
dp = pd.read_json("/Users/yangsejin/Downloads/data.json")
ds = spark.read.json('/Users/yangsejin/Downloads/data.json')

In [89]:
dp.columns = ['a','b','c','d','e','f']
dp.head(6)
#
ds.toDF('a','b','c','d','e','f').show(6)

+-----------+--------------------+----+--------------------+--------------------+-------------------+
|          a|                   b|   c|                   d|                   e|                  f|
+-----------+--------------------+----+--------------------+--------------------+-------------------+
|14785418146|{18.4, NL, 1, 413...|null|{55464, 7, {9, va...|[{33201110167, 8....|2023-04-02 10:39:01|
|14785418136|{116.0, PL, 0, 66...|null|{77152, 1, {14, N...|[{33201110139, 3....|2023-04-02 10:39:01|
|14785418135|{444.5, DE, 0, 29...|null|{40502, 11, {17, ...|[{33201110132, 15...|2023-04-02 10:39:01|
|14785418133|{227.4, PL, 0, 10...|null|{20966, 1, {14, N...|[{33201110136, 9....|2023-04-02 10:39:01|
|14785418130|{110.6, RS, 0, 41...|null|{55718, 1, {14, N...|[{33201110131, 0....|2023-04-02 10:39:01|
|14785418129|{32.5, NL, 0, 545...|null|{67751, 1, {14, N...|[{33201110128, 12...|2023-04-02 10:39:01|
+-----------+--------------------+----+--------------------+--------------------+-------------------+
only showing top 6 rows

In [90]:
mapping = {'Newspaper':'C','Sales':'D'}

In [94]:
dp.rename(columns=mapping).head(4)
#
new_names = [mapping.get(col,col) for col in ds.columns]
ds.toDF(*new_names).show(4)

+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
|         id|            location|sampling_rate|              sensor|    sensordatavalues|          timestamp|
+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
|14785418146|{18.4, NL, 1, 413...|         null|{55464, 7, {9, va...|[{33201110167, 8....|2023-04-02 10:39:01|
|14785418136|{116.0, PL, 0, 66...|         null|{77152, 1, {14, N...|[{33201110139, 3....|2023-04-02 10:39:01|
|14785418135|{444.5, DE, 0, 29...|         null|{40502, 11, {17, ...|[{33201110132, 15...|2023-04-02 10:39:01|
|14785418133|{227.4, PL, 0, 10...|         null|{20966, 1, {14, N...|[{33201110136, 9....|2023-04-02 10:39:01|
+-----------+--------------------+-------------+--------------------+--------------------+-------------------+
only showing top 4 rows

In [92]:
drop_name = ['Newspaper','Sales']

In [96]:
leftp = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

rightp = pd.DataFrame({'A': ['A0', 'A1', 'A6', 'A7'],
                       'F': ['B4', 'B5', 'B6', 'B7'],
                       'G': ['C4', 'C5', 'C6', 'C7'],
                       'H': ['D4', 'D5', 'D6', 'D7']},
                       index=[4, 5, 6, 7])

lefts = spark.createDataFrame(leftp)
rights = spark.createDataFrame(rightp)

In [98]:
leftp.merge(rightp,on='A',how='left')
#
lefts.join(rights,on='A',how='left').orderBy('A',ascending=True).show()

+---+---+---+---+----+----+----+
|  A|  B|  C|  D|   F|   G|   H|
+---+---+---+---+----+----+----+
| A0| B0| C0| D0|  B4|  C4|  D4|
| A1| B1| C1| D1|  B5|  C5|  D5|
| A2| B2| C2| D2|null|null|null|
| A3| B3| C3| D3|null|null|null|
+---+---+---+---+----+----+----+

In [99]:
leftp.merge(rightp,on='A',how='right')
#
lefts.join(rights,on='A',how='right').orderBy('A',ascending=True).show()

+---+----+----+----+---+---+---+
|  A|   B|   C|   D|  F|  G|  H|
+---+----+----+----+---+---+---+
| A0|  B0|  C0|  D0| B4| C4| D4|
| A1|  B1|  C1|  D1| B5| C5| D5|
| A6|null|null|null| B6| C6| D6|
| A7|null|null|null| B7| C7| D7|
+---+----+----+----+---+---+---+

In [100]:
leftp.merge(rightp,on='A',how='inner')
#
lefts.join(rights,on='A',how='inner').orderBy('A',ascending=True).show()

+---+---+---+---+---+---+---+
|  A|  B|  C|  D|  F|  G|  H|
+---+---+---+---+---+---+---+
| A0| B0| C0| D0| B4| C4| D4|
| A1| B1| C1| D1| B5| C5| D5|
+---+---+---+---+---+---+---+

In [101]:
leftp.merge(rightp,on='A',how='outer')
#
lefts.join(rights,on='A',how='full').orderBy('A',ascending=True).show()

+---+----+----+----+----+----+----+
|  A|   B|   C|   D|   F|   G|   H|
+---+----+----+----+----+----+----+
| A0|  B0|  C0|  D0|  B4|  C4|  D4|
| A1|  B1|  C1|  D1|  B5|  C5|  D5|
| A2|  B2|  C2|  D2|null|null|null|
| A3|  B3|  C3|  D3|null|null|null|
| A6|null|null|null|  B6|  C6|  D6|
| A7|null|null|null|  B7|  C7|  D7|
+---+----+----+----+----+----+----+

In [102]:
my_list = [('a', 2, 3),
           ('b', 5, 6),
           ('c', 8, 9),
           ('a', 2, 3),
           ('b', 5, 6),
           ('c', 8, 9)]
col_name = ['col1', 'col2', 'col3']
#
dp = pd.DataFrame(my_list,columns=col_name)
ds = spark.createDataFrame(my_list,schema=col_name)

In [108]:
dp.groupby(['col1']).agg({'col2':'min','col3':'mean'})
#
ds.groupBy(['col1']).agg({'col2': 'min', 'col3': 'avg'}).show()

+----+---------+---------+
|col1|min(col2)|avg(col3)|
+----+---------+---------+
|   a|        2|      3.0|
|   b|        5|      6.0|
|   c|        8|      9.0|
+----+---------+---------+

In [109]:
pd.pivot_table(dp, values='col3', index='col1', columns='col2', aggfunc=np.sum)
#
ds.groupBy(['col1']).pivot('col2').sum('col3').show()

+----+----+----+----+
|col1|   2|   5|   8|
+----+----+----+----+
|   c|null|null|  18|
|   b|null|  12|null|
|   a|   6|null|null|
+----+----+----+----+

In [110]:
d = {'A':['a','b','c','d'],'B':['m','m','n','n'],'C':[1,2,3,6]}
dp = pd.DataFrame(d)
ds = spark.createDataFrame(dp)

In [111]:
d ={'Id':[1,2,3,4,5,6],
    'Score': [4.00, 4.00, 3.85, 3.65, 3.65, 3.50]}
#
data = pd.DataFrame(d)
dp = data.copy()
ds = spark.createDataFrame(data)

In [112]:
dp['Rank_dense'] = dp['Score'].rank(method='dense',ascending =False)
dp['Rank'] = dp['Score'].rank(method='min',ascending =False)
dp
#
import pyspark.sql.functions as F
from pyspark.sql.window import Window
w = Window.orderBy(ds.Score.desc())
ds = ds.withColumn('Rank_spark_dense',F.dense_rank().over(w))
ds = ds.withColumn('Rank_spark',F.rank().over(w))
ds.show()

23/04/02 19:51:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/04/02 19:51:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/04/02 19:51:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
+---+-----+----------------+----------+
| Id|Score|Rank_spark_dense|Rank_spark|
+---+-----+----------------+----------+
|  1|  4.0|               1|         1|
|  2|  4.0|               1|         1|
|  3| 3.85|               2|         3|
|  4| 3.65|               3|         4|
|  5| 3.65|               3|         4|
|  6|  3.5|               4|         6|
+---+-----+----------------+----------+